body{
    background-color: #073b4c;
    color: black;
}
.navbar-default {
  background-color:#ef476f;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  color: white;
 }
 .navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 200%;
}
.button {
    background-color:#ffd166 ;
    border: none;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
}
.button:hover {background-color: antiquewhite;}

.button:active {
  background-color: antiquewhite;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

form {
    display: inline-block;
    margin: 0;
    padding: 0;
}
p{
    color: black;
}