<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"> 
<link rel="stylesheet" href="home.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Rent-A-Flix</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">HOME</a></li>
      <li><a href="store.html">STORE</a></li>
    </ul>
  </div>
</nav>
<title>Rent-A-Flix</title>
</head>
<body>
<center><img id="banner" src="img/banner.jpg"></center>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="img/strange.jpg" style="width:100%" style="height:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="img/avatar.jpg" style="width:100%" style="height:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="img/hellboy.jpg" style="width:100%" style="height:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
</br>
<center><h2><b>About</b></h2></center>
<center><p>Rent-A-Flix was foundeed in the basement of someones moms house in the year of 2015.</br>
  Founded by some geek that has no life what so ever.</br>
  He started this company so pepole could rent movies and comic books.</br>
  At Rent-A-Flix you can rent VHS(yes really), DVDs, Special Edittions, Blu-Rays, and of course Comics.</p></center>
<script src="jquery-3.1.1.js"></script>
<script src="carosel.js"></script>
</body>
</html>