<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'rental/store.css'%}">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Rent-A-Flix</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">HOME</a></li>
      <li><a href="store.html">STORE</a></li>
    </ul>
  </div>
</nav>
<title>Rent-A-Flix STORE</title>
</head>
<body>
<table>
  <tr>
    <th>Item</th>
    <th>Item information</th>  
  </tr>
  <tr>
    <td><img src="../static/rental/img/strange.jpg" height="250" width="210"></td>
    <td>
      <h2>Doctor Strange</h2>
    <ul>
    <li>Type: Blu-Ray</li>
    <li>Rent Value: $8.00</li>
    <li>Replacement Value: $25.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/avatar.jpg"  height="250" width="210"></td>
    <td>
    <h2>Avatar: Extended Collectors Edition</h2>
    <ul>
    <li>Type: Special Edition</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/beemovie.jpg"  height="250" width="210"></td>
    <td>
    <h2>Bee Movie</h2>
    <ul>
    <li>Type: DVD</li>
    <li>Rent Value: $5.00</li>
    <li>Replacement: $20.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/cap.jpg"  height="250" width="210"></td>
    <td>
    <h2>Captain America: Civil War</h2>
    <ul>
    <li>Type: Blu-Ray</li>
    <li>Rent Value: $8.00</li>
    <li>Replacement Value: $25.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/darknight.jpg"  height="250" width="210"></td>
    <td>
    <h2>The Dark Knight 2-disc Edition</h2>
    <ul>
    <li>Type: Special Edition</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/deadpool.jpg"  height="250" width="210"></td>
    <td>
    <h2>Deadpool</h2>
    <ul>
    <li>Type: DVD</li>
    <li>Rent Value: $5.00</li>
    <li>Replacement Value: $20.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/hellboy.jpg"  height="250" width="210"></td>
    <td>
    <h2>Hellboy: Seed of Destruction</h2>
    <ul>
    <li>Type: Comic</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
  </tr>
  <tr>
    <td><img src="../static/rental/img/hobbit.jpg"  height="250" width="210"></td>
    <td>
    <h2>The Hobbit: Extended Edition</h2>
    <ul>
    <li>Type: Special Edition</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/hulk.jpg"  height="250" width="210"></td>
    <td>
    <h2>Hulk</h2>
    <ul>
    <li>Type: VHS</li>
    <li>Rent Value: $2.00</li>
    <li>Replacement Value: $5.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/ironman.jpg"  height="250" width="210"></td>
    <td>
    <h2>Iron Man</h2>
    <ul>
    <li>Type: DVD</li>
    <li>Rent Value: $5.00</li>
    <li>Replacement Value: $20.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/it.jpg"  height="250" width="210"></td>
    <td>
    <h2>It</h2>
    <ul>
    <li>Type: VHS</li>
    <li>Rent Value: $2.00</li>
    <li>Replacement Value: $5.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/kill.jpg"  height="250" width="210"></td>
    <td>
    <h2>The Killing Joke</h2>
    <ul>
    <li>Type: Comic</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/lotr.jpg"  height="250" width="210"></td>
    <td>
    <h2>Lord of the Rings: Fellowship of the Rings</h2>
    <ul>
    <li>Type: VHS</li>
    <li>Rent Value: $2.00</li>
    <li>Replacement Value: $5.00</li>
    </ul>  
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/pi.jpg"  height="250" width="210"></td>
    <td>
    <h2>Pi</h2>
    <li>Type: VHS</li>
    <li>Rent Value: $2.00</li>
    <li>Replacement Value: $5.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/spidy.jpg"  height="250" width="210"></td>
    <td>
    <h2>The Amazing Spider-man</h2>
    <ul>
    <li>Type: Comic</li>
    <li>Rent Value: $10.00</li>
    <li>Replacement Value: $30.00</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="../static/rental/img/x2.jpg"  height="250" width="210"></td>
    <td>
    <h2>X2</h2>
    <ul>
    <li>Type: DVD</li>
    <li>Rent Value: $5.00</li>
    <li>Replacement Value: $20.00</li>
    </ul>
    </td>
  </tr>
</table>
<h2> Please check the box of the item(s) you would like to rent</h2>
  <input type="checkbox" name="dr_strange" id="dr_strange"> <label for="dr_strange">Dr. Strange</label>
  </br>
  <input type="checkbox" name="avatar" id="avatar"> <label for="avatar">Avatar: Extended Collectors Edition</label>
  </br>
  <input type="checkbox" name="bee" id="bee"> <label for="bee">Bee Movie</label>
  </br>
  <input type="checkbox" name="cap" id="cap"> <label for="cap">Captain America: Civil War</label>
  </br>
  <input type="checkbox" name="bat" value="bat"> <label for="bat">The Dark Knight 2-disc Edition</label>
  </br>
  <input type="checkbox" name="wade" id="wade"> <label for="wade">Deadpool</label>
  </br>
  <input type="checkbox" name="hellboy" id="hellboy"> <label for="hellboy">Hellboy: Seed of Destruction</label>
  </br>
  <input type="checkbox" name="billbo" id="billbo"> <label for="billbo">The Hobbit: Extended Edition</label>
  </br>
  <input type="checkbox" name="hulk" id="hulk"> <label for="hulk">Hulk</label>
  </br>
  <input type="checkbox" name="tony" id="tony"> <label for="tony"> Iron Man</label>
  </br>
  <input type="checkbox" name="it" id="it"> <label for="it">It</label>
  </br>
  <input type="checkbox" name="joke" id="joke"> <label for="joke">The Killing Joke</label>
  </br>
  <input type="checkbox" name="gandalf" id="gandalf"> <label for="gandalf">Lord of the Rings: Fellowship of the Rings</label>
  </br>
  <input type="checkbox" name="pi" id="pi"> <label for="pi">Pi</label>
  </br>
  <input type="checkbox" name="spidy" id="spidy"> <label for="spidy">The Amazing Spider-man</label>
  </br>
  <input type="checkbox" name="x2" id="x2"> <label for="x2">X2</label>
<center><button class="button" type='buton'id="submit">Submit</button></center>
</body>
</html>