<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'rental/store.css'%}">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Rent-A-Flix</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">HOME</a></li>
      <li><a href="store.html">STORE</a></li>
    </ul>
  </div>
</nav>
<title>Rent-A-Flix STORE</title>
</head>
<body>
<table>
  <tr>
    <th>Item</th>
    <th>Item information</th>  
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
 <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td><img src="{{%img%}}" height="250" width="210"></td>
    <td>
      <h2>{{%name%}}</h2>
    <ul>
    <li> Type: {{%rental_type%}}</li>
  <li>Rent Value: {{%rent_val%}}</li>
    <li>Replacement Value: {{%rep_val%}}</li>
    </ul>
    </td>
  </tr>
</table>
</body>
</html>



<tr>
    <td><img src="{{%img%}}"  height="250" width="210"></td>
    <td>
    <h2>{{%name%}}</h2>
    <ul>
    <li>{{% type %}}</li>
    <li>{{% val %}}</li>
    <li>{{ % rep_Val %}}</li>
    </ul>
    </td>
  </tr>