<!DOCTYPE html>
<html>
<head>
{%  load static  %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"> 
<link rel="stylesheet" href="{%  static 'rental/store.css' %}">
<script src="../static/rental/jquery-3.1.1.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Rent-A-Flix</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">HOME</a></li>
      <li><a href="store.html">STORE</a></li>
    </ul>
  </div>
</nav>
<title>Rent-A-Flix STORE</title>
</head>
<body>
{%  for rental in rentals%}
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ rental.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="col-lg-12 col-md-6 col-sm-6">
    <img src="{{ rental.img }}" height="350" width="310">
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6">
    <p> Type: {{ rental.rental_type }}</p>
    <p>Rent Value: ${{ rental.rent_val }}</p>
    <p>Replacement Value: ${{ rental.rep_val }}</p>
    <p>{{ rental.quant }} In Stock</p>
    <form action="  {% url 'rent' rental.id %}" class="rent" style=" display:inline!important;">
    <input type="submit" class="button" value="Rent">
    </form>
    <form action="{% url 'returns' rental.id %}" class="return" style=" display:inline!important;">
    <input type="submit" class="button" value="Return">
    </div>
  </div>
</div>
</div>
 {% endfor%}
</body>
</html>
